@font-face {
	font-family: 'Harabara';
	src: url('./fonts/Harabara.eot');
	src: local('Harabara'), url('./fonts/Harabara.woff') format('woff'), url('./fonts/Harabara.ttf') format('truetype');
}
@font-face {
  font-family: 'octicons';
  src: url('./fonts/octicons.eot?#iefix') format('embedded-opentype'),
       url('./fonts/octicons.woff') format('woff'),
       url('./fonts/octicons.ttf') format('truetype'),
       url('./fonts/octicons.svg#octicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
body{
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
/*
--------------------------------------------Semantic
*/
.ui.selection.dropdown .menu {
    max-height: 21rem;!important
}

.ui.teal.button{
	background-color: #83D2B1;!important
}
/* Wireframe Image */
.bs-example .wireframe.image {
  opacity: 0.5;
}
.bs-example .accordion .content > .wireframe.image {
  opacity: 0.5 !important;
}
.bs-example :not(.images) > .wireframe.image {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.bs-example :not(.images) > .wireframe.image:first-child {
  margin-top: 0em;
}
.bs-example :not(.images) > .wireframe.image:last-child {
  margin-bottom: 0em;
}

#jumbotron{
	background-color: #F6F4F4;
	padding: 36px;
}
#button-bt-download{
	background-color: #478678;
	color: #ffffff;
}

#button-bt-download a{
	color: #ffffff;
}
.ui.menu:first-child{
	margin-bottom: 0;
}
#tabs .ui.item>.header{
	cursor: pointer;
}
#scroll{
	position: relative;
}
.harabara {
	font-family: 'Harabara' !important;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}

.navbar{
	margin-bottom: 0px;
	
}
#top, #navbarJS{
	height: 52px;
}

.semantic-bread{
	padding: 8px 15px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border-radius: 4px;
}
/*#top{
	height: 60px;
	 position: relative;;
}
#top>.ui ,#top>.container{
	 position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
}*/
.navbar-brand{
		font-family: 'Harabara' !important;
}
.ajax-loader{
	margin: auto;
	width: 100px;
}

.bs-docs-header {
    box-sizing: border-box;
    color: rgb(71, 69, 70);
    height: 150px;
    position: relative;
    text-align: left;
    text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
    perspective-origin: 950.5px 128px;
    transform-origin: 950.5px 128px;
    background: rgb(48,118,112) linear-gradient( rgb(132,211,178) 0px, rgb(48,118,112) 100%) repeat-x scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(205, 191, 227);
    font: normal normal normal normal 24px/34.2857170104981px 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 0px 30px;
    outline: rgb(205, 191, 227) none 0px;
    padding: 30px 15px;
}
.bs-docs-header h1 {
    box-sizing: border-box;
    color: rgb(71, 69, 70);
    height: 60px;
    text-align: left;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.64);
    width: 760px;
    perspective-origin: 380px 30px;
    transform-origin: 380px 30px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 60px/60px 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 380px 10px 0px;
    outline: rgb(255, 255, 255) none 0px;
}

.bs-docs-header h1 #jquery{
    color: rgb(255,255,255);
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
}
.bs-docs-header p{
    color: #C8EFD2;
    font-size: 14px;
    font-variant: 500;
}
.filter{
	padding: 5px 35px 5px 15px!important;
	border-radius: 4px;
	width: auto!important;
	display: inline-block!important;
	float: right;
	margin-left: 4px;
	transition: opacity 0.15s linear 0s;
	border: 1px solid rgb(245, 231, 158);
}
.filter .close{
	top: 0px!important;
}
.filter text{
	float: right!important;
}
header {
    background-color: rgb(34,34,34);
}
#content .nav-pills>li>a {
    padding: 5px 15px;
}
#navbar2-navzone-1-dropdown-3-dropdown-item-1{
	background: url(images/zoom.png) no-repeat left;
	padding-left: 20px;
	margin-left: 10px;
}

.bs-example:before {
	display: block;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: capitalize;
    letter-spacing: 1px;
    content: "Example";
    margin-bottom: 3px;
}

.site_map {
    box-sizing: border-box;
    height: 300px;
    width:100%;
    perspective-origin: 950.5px 267.15625px;
    -webkit-perspective-origin: 950.5px 267.15625px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 950.5px 267.15625px;
    -webkit-transform-origin: 950.5px 267.15625px;
    background: rgb(71, 69, 70) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(24, 23, 27);
    outline: rgb(24, 23, 27) none 0px;
    padding: 30px 0px 0px;
    -webkit-border-after: 0px none rgb(24, 23, 27);
    -webkit-border-before: 0px none rgb(24, 23, 27);
    -webkit-border-end: 0px none rgb(24, 23, 27);
    -webkit-border-start: 0px none rgb(24, 23, 27);
    margin-top: 10px;
}
.copyright{
	color: white;
}
.copyright a{
	color: #9e9e9e;
}
.sitemap ul{
	list-style-type: none;
	padding: 0;
}
.jumbotron p{
	font-size: 18px!important;
}
.jumbotron .lead{
    font-weight: 500;
}
#jumbotron .ribbon{
	margin-left: -24px;
}
#response{
	min-height: 500px;
}

.ajax-loader{
	position:relative;
	display:block;
	margin: 97px auto;
	width:107px;
}
	
.ajax-loader, .ajax-loader * {
	box-sizing: border-box;
}

.ajax-loader span {
	display: inline-block;
	height: 15px;
	width: 15px;
	background: rgb(47,172,155);
	border-radius: 487px;
	background-clip: padding-box;
		-o-background-clip: padding-box;
		-ms-background-clip: padding-box;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding-box;
}

.ajax-loader span:nth-child(1) {
	animation: scale 1s 0.1s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 1s 0.1s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 1s 0.1s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 1s 0.1s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 1s 0.1s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.ajax-loader span:nth-child(2) {
	animation: scale 1s 0.2s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 1s 0.2s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 1s 0.2s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 1s 0.2s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 1s 0.2s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.ajax-loader span:nth-child(3) {
	animation: scale 1s 0.3s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 1s 0.3s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 1s 0.3s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 1s 0.3s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 1s 0.3s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.ajax-jumping span:nth-child(4) {
	animation: scale 1s 0.4s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 1s 0.4s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 1s 0.4s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 1s 0.4s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 1s 0.4s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.ajax-loader span:nth-child(5) {
	animation: scale 1s 0.5s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 1s 0.5s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 1s 0.5s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 1s 0.5s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 1s 0.5s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}



@keyframes scale {
	0% {
		transform: scale(0);
	}
	25% {
		transform: scale(0.9, 0.9);
		background: rgb(147,225,215);
	}
	50% {
		transform: scale(1, 1);
		margin: 0 3px;
		background: rgb(47,172,155);
	}
	100% {
		transform: scale(0);
	}
}

@-o-keyframes scale {
	0% {
		-o-transform: scale(0);
	}
	25% {
		-o-transform: scale(0.9, 0.9);
		background: rgb(147,225,215);
	}
	50% {
		-o-transform: scale(1, 1);
		margin: 0 3px;
		background: rgb(47,172,155);
	}
	100% {
		-o-transform: scale(0);
	}
}

@-ms-keyframes scale {
	0% {
		-ms-transform: scale(0);
	}
	25% {
		-ms-transform: scale(0.9, 0.9);
		background: rgb(147,225,215);
	}
	50% {
		-ms-transform: scale(1, 1);
		margin: 0 3px;
		background: rgb(47,172,155);
	}
	100% {
		-ms-transform: scale(0);
	}
}

@-webkit-keyframes scale {
	0% {
		-webkit-transform: scale(0);
	}
	25% {
		-webkit-transform: scale(0.9, 0.9);
		background: rgb(147,225,215);
	}
	50% {
		-webkit-transform: scale(1, 1);
		margin: 0 3px;
		background: rgb(47,172,155);
	}
	100% {
		-webkit-transform: scale(0);
	}
}

@-moz-keyframes scale {
	0% {
		-moz-transform: scale(0);
	}
	25% {
		-moz-transform: scale(0.9, 0.9);
		background: rgb(147,225,215);
	}
	50% {
		-moz-transform: scale(1, 1);
		margin: 0 3px;
		background: rgb(47,172,155);
	}
	100% {
		-moz-transform: scale(0);
	}
}

/*

.octicon is optimized for 16px.
.mega-octicon is optimized for 32px but can be used larger.

*/
.octicon {
    font: normal normal 16px octicons;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.octicon-link:before { content: '\f05c'; }

.anchor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    padding-right: 6px;
    padding-left: 30px;
    margin-left: -30px;
}

.anchor:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4;
}

h1 .octicon-link,
h2 .octicon-link,
h3 .octicon-link,
h4 .octicon-link,
h5 .octicon-link,
h6 .octicon-link {
    display: none;
    color: #000;
    vertical-align: middle;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    height: 1em;
    padding-left: 8px;
    margin-left: -30px;
    line-height: 1;
    text-decoration: none;
}

h1:hover .anchor .octicon-link,
h2:hover .anchor .octicon-link,
h3:hover .anchor .octicon-link,
h4:hover .anchor .octicon-link,
h5:hover .anchor .octicon-link,
h6:hover .anchor .octicon-link {
    display: inline-block;
}
.highlight{
	background-color: #FFFF00;
}
.mega-octicon { font-size: 32px; }

.octicon-alert:before { content: '\f02d'} /*  */
.octicon-arrow-down:before { content: '\f03f'} /*  */
.octicon-arrow-left:before { content: '\f040'} /*  */
.octicon-arrow-right:before { content: '\f03e'} /*  */
.octicon-arrow-small-down:before { content: '\f0a0'} /*  */
.octicon-arrow-small-left:before { content: '\f0a1'} /*  */
.octicon-arrow-small-right:before { content: '\f071'} /*  */
.octicon-arrow-small-up:before { content: '\f09f'} /*  */
.octicon-arrow-up:before { content: '\f03d'} /*  */
.octicon-microscope:before,
.octicon-beaker:before { content: '\f0dd'} /*  */
.octicon-bell:before { content: '\f0de'} /*  */
.octicon-book:before { content: '\f007'} /*  */
.octicon-bookmark:before { content: '\f07b'} /*  */
.octicon-briefcase:before { content: '\f0d3'} /*  */
.octicon-broadcast:before { content: '\f048'} /*  */
.octicon-browser:before { content: '\f0c5'} /*  */
.octicon-bug:before { content: '\f091'} /*  */
.octicon-calendar:before { content: '\f068'} /*  */
.octicon-check:before { content: '\f03a'} /*  */
.octicon-checklist:before { content: '\f076'} /*  */
.octicon-chevron-down:before { content: '\f0a3'} /*  */
.octicon-chevron-left:before { content: '\f0a4'} /*  */
.octicon-chevron-right:before { content: '\f078'} /*  */
.octicon-chevron-up:before { content: '\f0a2'} /*  */
.octicon-circle-slash:before { content: '\f084'} /*  */
.octicon-circuit-board:before { content: '\f0d6'} /*  */
.octicon-clippy:before { content: '\f035'} /*  */
.octicon-clock:before { content: '\f046'} /*  */
.octicon-cloud-download:before { content: '\f00b'} /*  */
.octicon-cloud-upload:before { content: '\f00c'} /*  */
.octicon-code:before { content: '\f05f'} /*  */
.octicon-color-mode:before { content: '\f065'} /*  */
.octicon-comment-add:before,
.octicon-comment:before { content: '\f02b'} /*  */
.octicon-comment-discussion:before { content: '\f04f'} /*  */
.octicon-credit-card:before { content: '\f045'} /*  */
.octicon-dash:before { content: '\f0ca'} /*  */
.octicon-dashboard:before { content: '\f07d'} /*  */
.octicon-database:before { content: '\f096'} /*  */
.octicon-clone:before,
.octicon-desktop-download:before { content: '\f0dc'} /*  */
.octicon-device-camera:before { content: '\f056'} /*  */
.octicon-device-camera-video:before { content: '\f057'} /*  */
.octicon-device-desktop:before { content: '\f27c'} /*  */
.octicon-device-mobile:before { content: '\f038'} /*  */
.octicon-diff:before { content: '\f04d'} /*  */
.octicon-diff-added:before { content: '\f06b'} /*  */
.octicon-diff-ignored:before { content: '\f099'} /*  */
.octicon-diff-modified:before { content: '\f06d'} /*  */
.octicon-diff-removed:before { content: '\f06c'} /*  */
.octicon-diff-renamed:before { content: '\f06e'} /*  */
.octicon-ellipsis:before { content: '\f09a'} /*  */
.octicon-eye-unwatch:before,
.octicon-eye-watch:before,
.octicon-eye:before { content: '\f04e'} /*  */
.octicon-file-binary:before { content: '\f094'} /*  */
.octicon-file-code:before { content: '\f010'} /*  */
.octicon-file-directory:before { content: '\f016'} /*  */
.octicon-file-media:before { content: '\f012'} /*  */
.octicon-file-pdf:before { content: '\f014'} /*  */
.octicon-file-submodule:before { content: '\f017'} /*  */
.octicon-file-symlink-directory:before { content: '\f0b1'} /*  */
.octicon-file-symlink-file:before { content: '\f0b0'} /*  */
.octicon-file-text:before { content: '\f011'} /*  */
.octicon-file-zip:before { content: '\f013'} /*  */
.octicon-flame:before { content: '\f0d2'} /*  */
.octicon-fold:before { content: '\f0cc'} /*  */
.octicon-gear:before { content: '\f02f'} /*  */
.octicon-gift:before { content: '\f042'} /*  */
.octicon-gist:before { content: '\f00e'} /*  */
.octicon-gist-secret:before { content: '\f08c'} /*  */
.octicon-git-branch-create:before,
.octicon-git-branch-delete:before,
.octicon-git-branch:before { content: '\f020'} /*  */
.octicon-git-commit:before { content: '\f01f'} /*  */
.octicon-git-compare:before { content: '\f0ac'} /*  */
.octicon-git-merge:before { content: '\f023'} /*  */
.octicon-git-pull-request-abandoned:before,
.octicon-git-pull-request:before { content: '\f009'} /*  */
.octicon-globe:before { content: '\f0b6'} /*  */
.octicon-graph:before { content: '\f043'} /*  */
.octicon-heart:before { content: '\2665'} /* ♥ */
.octicon-history:before { content: '\f07e'} /*  */
.octicon-home:before { content: '\f08d'} /*  */
.octicon-horizontal-rule:before { content: '\f070'} /*  */
.octicon-hubot:before { content: '\f09d'} /*  */
.octicon-inbox:before { content: '\f0cf'} /*  */
.octicon-info:before { content: '\f059'} /*  */
.octicon-issue-closed:before { content: '\f028'} /*  */
.octicon-issue-opened:before { content: '\f026'} /*  */
.octicon-issue-reopened:before { content: '\f027'} /*  */
.octicon-jersey:before { content: '\f019'} /*  */
.octicon-key:before { content: '\f049'} /*  */
.octicon-keyboard:before { content: '\f00d'} /*  */
.octicon-law:before { content: '\f0d8'} /*  */
.octicon-light-bulb:before { content: '\f000'} /*  */
.octicon-link:before { content: '\f05c'} /*  */
.octicon-link-external:before { content: '\f07f'} /*  */
.octicon-list-ordered:before { content: '\f062'} /*  */
.octicon-list-unordered:before { content: '\f061'} /*  */
.octicon-location:before { content: '\f060'} /*  */
.octicon-gist-private:before,
.octicon-mirror-private:before,
.octicon-git-fork-private:before,
.octicon-lock:before { content: '\f06a'} /*  */
.octicon-logo-github:before { content: '\f092'} /*  */
.octicon-mail:before { content: '\f03b'} /*  */
.octicon-mail-read:before { content: '\f03c'} /*  */
.octicon-mail-reply:before { content: '\f051'} /*  */
.octicon-mark-github:before { content: '\f00a'} /*  */
.octicon-markdown:before { content: '\f0c9'} /*  */
.octicon-megaphone:before { content: '\f077'} /*  */
.octicon-mention:before { content: '\f0be'} /*  */
.octicon-milestone:before { content: '\f075'} /*  */
.octicon-mirror-public:before,
.octicon-mirror:before { content: '\f024'} /*  */
.octicon-mortar-board:before { content: '\f0d7'} /*  */
.octicon-mute:before { content: '\f080'} /*  */
.octicon-no-newline:before { content: '\f09c'} /*  */
.octicon-octoface:before { content: '\f008'} /*  */
.octicon-organization:before { content: '\f037'} /*  */
.octicon-package:before { content: '\f0c4'} /*  */
.octicon-paintcan:before { content: '\f0d1'} /*  */
.octicon-pencil:before { content: '\f058'} /*  */
.octicon-person-add:before,
.octicon-person-follow:before,
.octicon-person:before { content: '\f018'} /*  */
.octicon-pin:before { content: '\f041'} /*  */
.octicon-plug:before { content: '\f0d4'} /*  */
.octicon-repo-create:before,
.octicon-gist-new:before,
.octicon-file-directory-create:before,
.octicon-file-add:before,
.octicon-plus:before { content: '\f05d'} /*  */
.octicon-primitive-dot:before { content: '\f052'} /*  */
.octicon-primitive-square:before { content: '\f053'} /*  */
.octicon-pulse:before { content: '\f085'} /*  */
.octicon-question:before { content: '\f02c'} /*  */
.octicon-quote:before { content: '\f063'} /*  */
.octicon-radio-tower:before { content: '\f030'} /*  */
.octicon-repo-delete:before,
.octicon-repo:before { content: '\f001'} /*  */
.octicon-repo-clone:before { content: '\f04c'} /*  */
.octicon-repo-force-push:before { content: '\f04a'} /*  */
.octicon-gist-fork:before,
.octicon-repo-forked:before { content: '\f002'} /*  */
.octicon-repo-pull:before { content: '\f006'} /*  */
.octicon-repo-push:before { content: '\f005'} /*  */
.octicon-rocket:before { content: '\f033'} /*  */
.octicon-rss:before { content: '\f034'} /*  */
.octicon-ruby:before { content: '\f047'} /*  */
.octicon-screen-full:before { content: '\f066'} /*  */
.octicon-screen-normal:before { content: '\f067'} /*  */
.octicon-search-save:before,
.octicon-search:before { content: '\f02e'} /*  */
.octicon-server:before { content: '\f097'} /*  */
.octicon-settings:before { content: '\f07c'} /*  */
.octicon-shield:before { content: '\f0e1'} /*  */
.octicon-log-in:before,
.octicon-sign-in:before { content: '\f036'} /*  */
.octicon-log-out:before,
.octicon-sign-out:before { content: '\f032'} /*  */
.octicon-squirrel:before { content: '\f0b2'} /*  */
.octicon-star-add:before,
.octicon-star-delete:before,
.octicon-star:before { content: '\f02a'} /*  */
.octicon-stop:before { content: '\f08f'} /*  */
.octicon-repo-sync:before,
.octicon-sync:before { content: '\f087'} /*  */
.octicon-tag-remove:before,
.octicon-tag-add:before,
.octicon-tag:before { content: '\f015'} /*  */
.octicon-telescope:before { content: '\f088'} /*  */
.octicon-terminal:before { content: '\f0c8'} /*  */
.octicon-three-bars:before { content: '\f05e'} /*  */
.octicon-thumbsdown:before { content: '\f0db'} /*  */
.octicon-thumbsup:before { content: '\f0da'} /*  */
.octicon-tools:before { content: '\f031'} /*  */
.octicon-trashcan:before { content: '\f0d0'} /*  */
.octicon-triangle-down:before { content: '\f05b'} /*  */
.octicon-triangle-left:before { content: '\f044'} /*  */
.octicon-triangle-right:before { content: '\f05a'} /*  */
.octicon-triangle-up:before { content: '\f0aa'} /*  */
.octicon-unfold:before { content: '\f039'} /*  */
.octicon-unmute:before { content: '\f0ba'} /*  */
.octicon-versions:before { content: '\f064'} /*  */
.octicon-watch:before { content: '\f0e0'} /*  */
.octicon-remove-close:before,
.octicon-x:before { content: '\f081'} /*  */
.octicon-zap:before { content: '\26A1'} /* ⚡ */

#response [id^="grid"] .column:not(.row):not(.grid):after {
    background-color: rgba(86, 61, 124, .1);
    -webkit-box-shadow: 0px 0px 0px 1px rgba(86, 61, 124, 0.2) inset;
    box-shadow: 0px 0px 0px 1px rgba(86, 61, 124, 0.2) inset;
    content: "";
    display: block;
    min-height: 50px;
}

.bs-example.all-icons .column .icon {
  opacity: 1;
  height: 1em;
  color: #333333;
  display: block;
  margin: 0em auto 0.25em;
  font-size: 2em;
  -webkit-transition:
    color 0.6s ease,
    transform 0.2s ease;
  -moz-transition:
    color 0.6s ease,
    transform 0.2s ease;
  -o-transition:
    color 0.6s ease,
    transform 0.2s ease;
  -ms-transition:
    color 0.6s ease,
    transform 0.2s ease;
  transition:
    color 0.6s ease,
    transform 0.2s ease;
}
.bs-example.all-icons .grid > .column {
  opacity: 0.8;
  text-align: center;
  color: transparent;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-transition:
    color 0.3s ease,
    opacity 0.3s ease;
  -moz-transition:
    color 0.3s ease,
    opacity 0.3s ease;
  -o-transition:
    color 0.3s ease,
    opacity 0.3s ease;
  -ms-transition:
    color 0.3s ease,
    opacity 0.3s ease;
  transition:
    color 0.3s ease,
    opacity 0.3s ease;
}

.bs-example.all-icons  .grid:hover .column {
  color: #777777;
}
.bs-example.all-icons .grid:hover .column .icon {
  color: #333333;
}

.bs-example.all-icons .grid .column:hover .icon {
  color: #000000;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.bs-example.all-icons .grid .column:hover {
  opacity: 1;
  color: #444444;
}


#back {
	display: none;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
}
.ui.category.search>.results .category .result {
	margin-left: 200px;
}
.ui.category.search>.results .category>.name {
	width: 200px;
}
.ui.header>a{
	color: black;
}